---
- name: Base setup for all nodes
  hosts: all
  become: yes
  roles:
    - base-setup

- name: Kubernetes prerequisites
  hosts: all
  become: true
  roles:
    - k8s-prereqs

- name: Setup Kubernetes control plane
  hosts: control-plane
  become: true
  roles:
    - k8s-control-plane

- name: Join Kubernetes worker nodes to the cluster
  hosts: workers
  become: true
  roles:
    - k8s-worker-nodes


